$primary-orange: #FF8500;

body {
	background-color: #F0F0F0;
	padding-top: 50px;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

#navLogo {
	width: 10em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

.navbar-default .navbar-nav>li>a {
	transition: background-color 0.5s ease;
}

.navbar-default .navbar-nav>.active>a {
	background-color: $primary-orange;
	color: #FFF;
}

#about {	
	h1 {
		color: #FFF;
		padding-top: 0.35em;
	}
}

#box{
	position: relative;
}

#imgCont {
	width: 100%;
	height: 100%;
	background:url('/header.jpg');
	background-size: cover;
	position: absolute;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

#overlay {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.5;
}

.content {
	height: 700px;
	border: 1px solid red;
	z-index: 10;	
}

#siteHeader {
	font-weight: 700;
	text-align: center;
	font-size: 5em;
}

