<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<title> I MESH YOU </title>

	<!-- Bower Components -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css">
	<!-- Custom Styles -->
	<link rel="stylesheet" href="/src/style.css" />
	<link rel="stylesheet" href="/font-awesome/font-awesome.min.css" />
	<!-- Google Fonts (Temporary for now) -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700i" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50"">

	<!-- Main Navigation Bar -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
               <a href="#" class="navbar-left mainLogo" id="navLogo"><img src="/gotenna-logo-blue.svg"></a>
            </div>

            <!-- Nav Links to Collapse -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#mesh">Become a Mesh!</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#kickstarter">Kickstarter</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Map/React Section -->
    <div id="mapHeader">
	    <span class="h2">View the current Mesh Users!</span>
	</div>
    <section id="mesh">
    	<div class="container-fluid content" id="meshCont">
    		<div id="root"></div>
    	</div>
    </section>

    <!-- About Section -->
    <section id="about">
    	<div id="box">
    	    <div id="imgCont"></div>
			<div id="overlay"></div>
	    	<div class="container-fluid content">
	    		<div class="col-md-1"></div>
	    		<div class="col-md-10">
	    			<h1 id="siteHeader"> #imeshyou </h1>
	    			<p>
	    			MVP iPhone facebook business plan bootstrapping infrastructure mass market funding iteration gen-z angel investor ecosystem innovator. Business plan return on investment churn rate seed round. Ramen supply chain crowdfunding angel investor venture bandwidth low hanging fruit incubator sales ownership termsheet learning curve. Incubator value proposition crowdsource funding buyer business plan creative burn rate handshake gamification responsive web design. Assets interaction design innovator bootstrapping. Buzz early adopters startup gamification stock hypotheses rockstar network effects niche market. Customer traction funding strategy ramen stealth low hanging fruit hackathon ecosystem founders iPad learning curve iPhone. 
	    			</p>
	    		</div>
	    		<div class="col-md-1"></div>
    		</div>
    	</div>
    </section>
   
   <!-- Kickstarter Section -->
    <section id="kickstarter" class="holder">

    	<div class="col-md-1"></div>
	    <div class="col-md-10">
	    	<h2> GoTenna Mesh on Kickstarter </h2> 
	    	<p> Product photo here? </p>
	    </div>
	    <div class="col-md-1"></div>
    </section>


    
    <!-- Contact Section -->
    <section id="contact" class="holder">
    	<div class="row"></div>
    	<hr>
    	<div class="row">
	    	<div class="col-md-1"></div>
		    <div class="col-md-10">
	    		<h3>Stay up to date with goTenna</h3>
	    		<div id="social">
	    			<a class="btn" href="http://www.gotenna.com/" target="_blank">
	    				<i class="fa fa-globe fa-2x" aria-hidden="true"></i>
	    			</a>
		    		<a class="btn" href="https://twitter.com/" target="_blank">
		    			<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
		    		</a>
		    		<a class="btn" href="https://www.facebook.com/goTennaInc" target="_blank">
		    			<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
		    		</a>
		    		<a class="btn" href="https://www.instagram.com/gotenna/" target="_blank">
		    			<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
		    		</a>
		    		<a class="btn" href="https://www.linkedin.com/company/2989033">
		    			<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
		    		</a>
		    	</div>
		    </div>
		    <div class="col-md-1"></div>
    	</div>
    	<div class="row" id="copy">
		    <div class="col-md-12">

		    	<p>
	      			Copyright © 2016 goTenna, <abbr title="incorporated">Inc.</abbr>
	      		</p>

    	</div>

    </section>

	<div id="root"></div>


	<script src="/src/bundle.js" type="text/javascript"></script>
</body>

</html>