$primary-orange: #FF8500;
$secondary-orange: #FFC107;

$primary-blue: #549AE6;


$primary-red: #F44336;
$secondary-red: #D50000;

$primary-green: #4CAF50;
$secondary-green: #2E7D32;

$map-height: 600px;

@font-face {
	font-family: SalvoSans;
	src: url('/fonts/FontBureau-SalvoSansRegular.otf');
	font-weight: normal;
}

@font-face {
	font-family: SalvoSans;
	src: url('/fonts/FontBureau-SalvoSansBold.otf');
	font-weight: bold;
}

@font-face {
	font-family: SalvoSans;
	src: url('/fonts/FontBureau-SalvoSansLight.otf');
	font-weight: light;
}

@mixin box-shadow($top, $left, $blur, $thing, $color) {
	-webkit-box-shadow:$top $left $blur $thing $color;
	-moz-box-shadow:$top $left $blur $thing $color;
	box-shadow:$top $left $blur $thing $color;
}


#coverFix {
	background-color: rgba(0,0,0,0);
	z-index: 1045;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
}

body {
	overflow-x: hidden;
	background-color: #FFF;
	padding-top: 50px;
	position: relative;
	font-family: SalvoSans;
	font-weight: normal;
}

#logoCont {
	width: 15em;
	position: absolute;
	top: 0.5em;
	left: 1em;
}

button {
	transition: background-color 0.3s ease 0s;
}

button:focus, a:focus {
		outline: none !important;
}

.navbar {
	background-color: #FFF;
    @include box-shadow (0, 2px, 10px, -4px, #404040);

}

.navbar-default .navbar-nav>li>a {
	transition: background-color 0.5s ease;
}

.navbar-default .navbar-nav>li>a:hover {
	color: $primary-orange;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: $secondary-orange;
	color: white;
}

.navbar-default .navbar-nav>.active>a {
	background-color: $primary-orange;
	color: #FFF;
}
#mainNav .container {
	padding: 0;
}

#navLogo {
	font-weight: bold;
	font-size: 2em;
	color: $primary-blue;
}

#about {
	font-weight: light;
	height: 700px;
	color: $primary-blue;
	h1 {
		padding-top: 0.35em;
		padding-bottom: 0.35em;
	}

	p {
		text-align: left;
		padding: 0.35em 0;
		font-size: 1.5em;
		font-weight: normal;
		line-height: 2.25em;
	}

	.boldp {
		font-weight: bold;
	}
}


#box {
	position: relative;
	height: 100%;
}

#imgCont {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	background:url('/product.png');
	background-size: contain;
	background-attachment: fixed;
	background-position: bottom center;
    background-repeat:no-repeat;
	position: absolute;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

#overlay {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.5;
}

.content {
	z-index: 10;	
}

#kickstarter{
	color: #FFF;
	height: 625px;
	h3, h4 {
		text-align: center;
		padding: 1em;
	}
	
	h3 {
		margin-top: 2em;
		font-size: 3em;
	}

	h2 {
		font-size: 5em;
		font-weight: bold;
		text-align: center;
		padding: 0 0 1em 0;
	}

	a {
		color: #FFF;
		transition: color 0.3s ease 0s;	
	}

	a:hover {
		color: #2BDE73;
	}

	h4 {
		font-size: 1.4em;
	}
}

#socialRow {
	text-align: center;

	a:hover {
		color: $primary-orange;
	}
}
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  padding: 1em 1em 2em 1em;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#ksLogo {
	display:block;
	margin:auto;
	width: 50%;
	padding-bottom: 2em;
}

#siteHeader {
	font-weight: 700;
	text-align: center;
	font-size: 5em;
}


#addBtn, #searchBar, #legend {
	margin-top: 2.3%;
}

#searchBar {
	z-index: 100;
	position: absolute;
	margin: 2.3% 35%;
	opacity: 0.9;

	.btn:active {
		background-color: $primary-blue;
		color: white;
	}
	.input-group {
	    @include box-shadow (0, 2px, 10px, -4px, #404040);
	}
}


#mesh {
	height: $map-height;
	padding: 0;

	#meshCont {
		padding: 0;
	}

	.alert {
		border-radius: 0;
	}

	div:focus {
		outline: none !important;
	}
}

#mapHeader {
	padding: 2em;
	background-color: $primary-blue;
	border-top: 2px solid $primary-blue;
	border-bottom: 2px solid $primary-blue;
	text-align: center;

	span {
		color: white;
		font-size: 2em;
		vertical-align: middle;
	}
}

#map {
	height: $map-height;
	width: 100%;
	z-index: 10;
}


#addBtn, #cancelBtn, #saveBtn {
	position: absolute;
	z-index: 100;
}

#cancelBtn, #saveBtn {
	margin-top: 3.5em;
}

#addBtn {
	right: 2em;
	background-color: $primary-orange;
	color: #FFF;
	opacity: 0.9;
}

#addBtn:hover {
	background-color: #FFC107;
	@include box-shadow (0, 2px, 10px, -4px, #404040);
}

#status i {
	color: #AF4C76;
	padding: 0.75em;
	transition: color 0.3s ease 0s;
}

#status i:hover {
	cursor: pointer;
	color: $primary-blue;
}




#status {
	text-align: center;
	h4 {
		font-weight: bold;
	}
}



#legend {
	width: 150px;
	height: 50px;
	background-color: #FFF;
	border: 1px solid #B7BFC0;
	//border: 1px solid $primary-blue;
	border-radius: 3px;
	opacity: 0.9;
	position: absolute;
	z-index: 100;
	margin: 2em;
	padding: 3px;
	@include box-shadow (0, 2px, 10px, -4px, #404040);

	.row {
		margin: 2px;
		position: relative;
	}
}

#bottomRow {
	padding-top: 5px;
}

.legText {
	margin-top: 1px;
	color: #595959;
	font-size: 0.8em;
}

#prim, #pot {
	width: 15px;
	height: 15px;
	padding: 0;
	float:left;
	margin-right: 0.5em;
	bottom: 0;
	opacity: 0.8;
	border-radius: 2px;
}


.square {
    width: 10%;
    
}

#saveBtn {
	right: 0;
	background-color: $secondary-green;
	border: none;
	border-radius: 0;
}

#saveBtn:hover {
	background-color: $primary-green;
	border: none;
}

#cancelBtn {
	left: 0;
	background-color: $secondary-red;
	border: none;
	color: #FFF;
	border-radius: 0;
}	

#cancelBtn:hover {	
	background-color: $primary-red;
	border: none;
}

#saveBtn:focus, #cancelBtn:focus {
	outline: none !important;
}

.modal-landing {
	width: 100%;
	height: 100%;
	background-color: #FFF;
	position: absolute;
	z-index: 40;
	text-align: center;
	line-height: 1em;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;	
	color: $primary-blue;
	h3 {
		font-weight: bold;
	}

	#sub {
		font-weight: normal;
	}

	.btn {
		background-color: $primary-orange;
		color: #FFF;
		transition: background-color 0.3s ease 0s;
	}

	.btn:hover {
		color: #FFF;
		background-color: $secondary-orange;
	}
}

.buttonVis {
	visibility: hidden;
}

.modal-success {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 40;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.modal-remove {
	width: auto;
	height: auto;
}

.modalblock {
	margin: 5em;
}



#modalForm {
	padding: 2em;

	.row {
		margin-bottom: 15px;
	}

	.has-error input {
		border: 2px solid $primary-red;
	}

	.reqd input {
		border: 2px solid #000;
	}

	.alert-danger {
		background-color: $primary-red;
		color: $secondary-red;
		border-color: $primary-red;
	}

	.alert-success {
		background-color: $primary-green;
		color: $secondary-green;
		border-color: $primary-green;
	}
}

.form-inline .form-group {
	margin-bottom: 2em;

	label {
		padding-right: 0.75em;
	}

}

.form-group.required .control-label:before{
	content: "*";
	color: red;
	position: absolute;
	margin-left: -15px;
}

#contact {
	background-color: $primary-blue;
	color: #FFF;
	max-height: 450px;

	hr {
		border: none;
		height: 3px;
		background-color: #FFF;
	}
	i {
		color: #FFF;
		padding: 0 1em 0 1em;
	}

	p {
		text-align: center;
		padding-bottom: 1em;
	}

	h3 {
		font-weight: normal;
		display: inline-block;
		padding-bottom: 0.3em;
		border-bottom: 2px solid #FFF;
	}
	.col-md-10 {
		text-align: center;
	}
	.fa {
		transition: color 0.3s ease 0s;
	}
	.fa:hover {
		color: $secondary-orange;
	}
}

#social {
	margin-top: 1em;
}

#copy {
	padding-top: 3em;
}

.emailGroup {
	padding: 1em;
	text-align: center;

	.input-group {
		padding-top: 0.5em;
	}

	.btn {
		border: 1px solid #ccc;
		background-color: #FFF;
		color: $primary-blue;
		transition: background-color 0.3s ease 0s;
	}

	.btn:hover {
		color: #FFF;
		background-color: #ccc;

	}
}
